@tailwind base;
@tailwind components;
@tailwind utilities;

.footer{
    padding-top: 60px;
    padding-bottom: 30px;

box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;

}

.footer__text{
    line-height: 30px;
    
}

.footer__quick-links ul li{
    background: transparent !important;

}

.quick__links-title{
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.footer__contact li span{
    font-size: 1.2rem;

}

.footer__contact li p{
    font-size: 9.9rem;
}

.footer__copyright{
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}

.socialp{
    font-size: 30px;
}
.socialp:hover{
    color: var(--primary-color);
}
.socialp i:hover{
    color: var(--primary-color);
}

.socialp i{
    margin: 0px 20px;
}